.badge {
  padding: 0.5em 1em;
  margin-right: 10px;
  border-radius: 1rem;
  color: white;
  font-size: calc(0.5rem + 0.4vw);
  @media (max-width: $break-xlarge) {
    margin-bottom: 10px;
  }
}

.badge-danger {
  color: $color-bg-danger;
  background-color: $color-text-danger;
}

.badge-warning {
  color: $color-bg-warning;
  background-color: $color-text-warning;
}

.badge-caution {
  background-color: $color-text-caution;
}