h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #33d27b52 inset !important;
}

li {
  list-style: none;
}

p {
  margin: 0;
}