button {
  background-color: $olive-green;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 18px;
  padding: 5px 10px;
}

/* button:hover {
  background-color: #56994b;
  color: white;
} */