$olive-green: #33d27b;
$light-green: #bcf5d5;
$melon-green: #70ed9d;
$gray-green: #71db9d;
$yellow-green: #81E571;
$color-nav-green: #15c07d;

$primary-color: $olive-green;

// color-base
$color-grey-50: #f9fafb;
$color-grey-100: #f2f4f6;
$color-grey-200: #e5e8eb;
$color-grey-300: #d1d6db;
$color-grey-400: #b0b8c1;
$color-grey-500: #8b95a1;
$color-grey-600: #6b7684;
$color-grey-700: #4e5968;
$color-grey-800: #333d4b;
$color-grey-900: #191f28;

// color-badge
$color-bg-danger: #ffebee;
$color-bg-warning: #ffede4;
$color-bg-caution: #ffebe0;
$color-text-danger: #e83846;
$color-text-warning: #ff8b4d;
$color-text-caution: #ffaf31;

// font
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 900;

// media
$break-xlarge: 1024px;
$break-large: 920px;
$break-medium: 768px;
$break-small: 420px;