$olive-green: #33d27b;
$light-green: #bcf5d5;
$melon-green: #70ed9d;
$gray-green: #71db9d;
$yellow-green: #81E571;

$primary-color: $olive-green;

$light-red: #ffd8d8;
$light-grey: #f8f8f8;

// media
$break-large: 920px;
$break-medium: 780px;
$break-small: 420px;